*, *::before, *::after {
    box-sizing: border-box;
  }
  
  :root {
    --hue-neutral: 333;
    --hue-wrong: 0;
    --hue-correct: 145;
  }
  
  body {
    
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,#5a3040, #68fa63 );
  }
  
  
  .container {
      height:150px;
    width: 800px;
    max-width: 80%;
    background-color:lightblue;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 50px 8px;
  }


  .container-fluid { 
    height: 560px;
    position: relative;;
   
  }

  .ml4 {
    position: relative;
    font-weight: 900;
    font-size: 4.5em;
  }
  .ml4 .letters {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0.3em;
    right: 0;
    opacity: 0; 
  }

  .ml4{
      text-align: center;
  }

  /* .container-fluid { */
    /* background-color:white; */
    /* border-radius: 5px; */
    /* padding: 10px; */
    /* box-shadow: 0 0 50px 8px; */
/* } */

  
  .btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
  }
  
  .btn {
    --hue: var(--hue-neutral);
    border: 4px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 3px 10px;
    color: white;
    outline: none;
  }
  
  .btn:hover {
    border-color: black;
  }
  
  .btn.correct {
    --hue: var(--hue-correct);
    color: black;
  }
  
  .btn.wrong {
    --hue: var(--hue-wrong);
  }
  
  .start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
  }
  
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hide {
    display: none;
  }
  
  
  
  
  
  
  